@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    color: #1a1a1a; 
    background-color: #f5f5f5; 
  }
  
  [data-theme="dark"] body {
    background-color: #1f2937; 
    color: #e0e0e0;
    
  }
  @keyframes animate {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes showText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .path {
    animation: animate-path 1s linear forwards;
  }
  
  @keyframes animate-path {
    0% {
      stroke-dashoffset: 502;
    }
    100% {
      stroke-dashoffset: calc(502 - (502 * var(--percentage)) / 100);
    }
  }
  
 